:root {
  --font-family-primary: 'Crimson Text', serif;
  --font-family-secondary: menlo, monaco, consolas, 'liberation mono', 'courier new', monospace;

  // Type Scale

  --text-h1: 3rem;
  --text-h2: 2.5rem;
  --text-h3: 2rem;
  --text-h4: 1.5rem;
  --text-h5: 1rem;
  --text-h6: .875rem;

  // Color

  --black: #28201e;
  --grey: #6f6967;
  --grey-light: #f0f0f0;
  --ruby: #9d2f23;
  --white: #fff;
}
